<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
	</head>
	<body>
		<h1>{{title}}</h1>
		<p>This is just one thing:</p>
		<h2>{{thing.id}}</h2>
		<ul>
			<li>Name: {{thing.name}}</li>
			<li>Value: {{thing.value}}</li>
		</ul>
	</body>
</html>